# {{ ansible_managed }}

global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    stats socket {{ haproxy_stats_socket }} mode 660 level admin

{% if haproxy_ssl_enabled | bool %}
    tune.ssl.default-dh-param 2048
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tls-tickets #force-tlsv12
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
{% endif %}


defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
{% for timeout in haproxy_timeouts %}
    timeout {{ timeout.type }} {{ timeout.value }}
{% endfor %}

{% for error in haproxy_errors %}
    errorfile {{ error.code }} /etc/haproxy/errors/{{ error.code }}.http
{% endfor %}

{% if haproxy_stats_enabled | bool %}
listen haproxy_stats
    bind {{ haproxy_stats_address }}:{{ haproxy_stats_port }}
    no log
    maxconn 3
    stats enable
    stats hide-version
    stats show-node
    stats auth "{{ haproxy_stats_user }}:{{ haproxy_stats_pass }}"
    stats uri {{ haproxy_stats_uri }}
{% endif %}
